<div class="account" data-role="collapsible" data-collapsed="false" id="<%= this.id %>">
    <h3>
        Bank account
    </h3>
    <form action="">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <label for="iban">
                    IBAN
                </label>
                <input name="" id="iban" placeholder="" value="<%= this.iban ? this.iban : "" %>" type="text" />
            </fieldset>
        </div>
        <input class="delete" type="submit" data-inline="true" data-icon="minus" data-iconpos="left" value="Delete" />
        <input class="save" type="submit" data-inline="true" data-theme="b" data-icon="check" data-iconpos="left" value="Save" />
    </form>
</div>
